body {
  background-image: url('/images/background.png');
}

img.logo {
  cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

.MuiOutlinedInput-input {
  background-color: white;
}

.MuiCard-root.search-card {
  width: 300px;
  cursor: pointer;
}

.MuiCard-root.search-card > .MuiCardMedia-root {
  height: 200px;
}

.MuiCardContent-root {
  height: 90px;
  padding-bottom: 0;
}

.hidden {
  display: none !important;
}

.MuiPaper-root.item-download {
  background-color: rgb(223, 223, 223);
  text-align: center;
  height: 125px;
}

.MuiPaper-root.item-main-image {
  height: 500px;
}

.height100pc {
  height: 100%;
}

.height50px {
  height: 100px;
}

.height50px {
  height: 50px;
}

.width100pc {
  width: 100%;
}

.width30pc {
  width: 30%;
}

.MuiPaper-root.thumbnail {
  width: 100px;
  height: 100px;
}

.MuiPaper-root.thumbnail-dropzone {
  width: 200px;
  height: 250px;
}

.MuiPaper-root.thumbnail-clickable {
  cursor: pointer;
}

.MuiPaper-root.thumbnail-error {
  border-style: double;
  border-width: 1px;
  border-color: #dc143c;
}

table.content-info thead tr td {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
}

table.content-info tr td {
  padding: 5px;
  background-color: rgb(223, 223, 223);
}

.assembly-dificulty.MuiRating-root > span > .MuiRating-iconFilled {
  color: #000000;
}

button.search-button {
  height: 54px;
  margin-top: 8px;
}

.justify-content-center {
  text-align: center;
}
