body {
  background-image: url('/background.png');
}

.MuiOutlinedInput-input {
  background-color: white;
}

.MuiCard-root.search-card {
  width: 300px;
  cursor: pointer;
}

.MuiCard-root.search-card > .MuiCardMedia-root {
  height: 200px;
}

.MuiCardContent-root {
  height: 60px;
  padding-bottom: 0;
}

.hidden {
  display: none;
}

.MuiPaper-root.item-download {
  background-color: rgb(223, 223, 223);
  text-align: center;
  height: 180px;
}

.MuiPaper-root.item-main-image {
  /* text-align: center; */
  height: 500px;
}

.height100 {
  height: '100%';
}

.MuiPaper-root.thumbnail-clickable {
  cursor: pointer;
}

.MuiPaper-root.thumbnail-error {
  border-style: double;
  border-width: 1px;
  border-color: #dc143c;
}
