@use 'variables';

html,
body,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  background-image: url(variables.$body-background-image);
  // margin-top: 0px;
}

button {
  &.search-button {
    height: 54px;
    margin-top: 8px;
  }
}

img {
  &.logo {
    cursor: pointer;
  }
}

table.content-info {
  thead {
    tr {
      td {
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
      }
    }
  }

  tr {
    td {
      padding: 5px;
      background-color: variables.$primary-backgroud-color;
    }
  }
}

.MuiInputBase-root {
  background-color: variables.$field-background-color;
}

.MuiCard-root.search-card {
  width: 300px;
  cursor: pointer;

  .MuiCardMedia-root {
    height: 200px;
    background-size: cover;
  }

  .MuiCardContent-root {
    height: 90px;
    padding-bottom: 0;
  }
}

.MuiPaper-root {
  &.download-buttons-container {
    background-color: variables.$primary-backgroud-color;
    text-align: center;
    height: 175px;
  }

  &.item-main-image {
    height: 500px;
  }

  &.thumbnail {
    &.dropzone-thumbnail {
      padding: 10px;
      width: 130px;
      height: 240px;
      text-align: center;

      &--error {
        border: {
          style: double;
          width: 1px;
          color: variables.$error-border-color;
        }
      }
    }

    &--clickable {
      cursor: pointer;
    }
  }
}

.MuiRating-root.assembly-dificulty {
  span {
    span.MuiRating-iconFilled {
      color: #000000;
    }
  }
}

.Toastify {
  height: 0px !important;
}

.dropzone-container {
  aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  div[role='presentation'] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    border: {
      width: 2px;
      radius: 2px;
      color: #eeeeee;
      style: dashed;
    }

    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
}

.justify-content-center {
  text-align: center;
}

.height100pc {
  height: 100%;
}

.height50px {
  height: 50px;
}

.height100px {
  height: 100px;
}

.hidden {
  display: none !important;
}

.loading {
  position: absolute;
  background-color: #000000;
  opacity: 20%;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: hidden;

  div {
    span {
      color: #ffffff;
    }
  }
}

.swiper {
  width: 80%;
  height: 280px;

  .swiper-button-prev,
  .swiper-button-next {
    color: #ffffff;
  }
}

.swiper-slide {
  cursor: pointer;
  height: 98% !important;
  max-width: 32% !important;
  text-align: center;
  font-size: 18px;
  background-image: url('/images/background_cell.jpg');

  border: {
    width: 2px;
    radius: 5px;
    color: #eeeeee;
    style: double;
  }

  img {
    // margin-top: 2%;
    width: 90%;
    // height: 98%;
    max-height: 185px;
    object-fit: cover;
    border-radius: 5px;
  }

  p.category-carousel-title {
    background-color: #ffffff;
    bottom: 0px;
    opacity: 80%;
    position: absolute;
    width: 100%;

    padding: {
      top: 10px;
      bottom: 10px;
    }
  }

  span {
    margin-top: 130px;
  }
}

.width30pc {
  width: 30%;
}

.width100pc {
  width: 100%;
}
