$body-background-image: 'https://res.cloudinary.com/dcqomtjel/image/upload/v1679216858/papermodel/_public/background_fua1pe.png';

$error-border-color: #dc143c;

$field-background-color: #ffffff;

$primary-backgroud-color: #dfdfdf;
