# This is a basic workflow to help you get started with Actions

name: Build and test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events for the master and develop branches
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
  # The type of runner that the job will run on
  runs-on: ubuntu-latest

  strategy:
    matrix:
      node-version: [16.3]

  # Steps represent a sequence of tasks that will be executed as part of the job
  steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # needs: build
    steps:
      #      - run: npm run build --if-present
      - name: Run tests
        env:
          DATABASE_URL: ${{ secrets.DATABASE_TEST_URL }}
          AAAAAAA: ${{ secrets.ANOTHER_SECRET }}
        run: "$DATABASE_URL"
        # run: "echo $DATABASE_URL & npm test"
